{% set items_per_batch = 9 %} {% set start = 1 + (batch - 1) * items_per_batch
%} {% set end = start + 3 %}

<!doctype html>
<html>
  <head>
    <title>PDF.js model tweaking</title>
    <script src="/static/index.js" type="module"></script>
    <link href="/static/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/chota@latest" />
  </head>
  <body>
    <div class="container">
      <nav class="nav">
        <div class="nav-left">
          <a class="brand" href="#">
            <img src="/static/moz.svg" style="height: 30px" />PDF.js alt text
          </a>
          <div class="tabs">
            <a
              id="tab_to_verify"
              class="button outline tablinks {{ 'active' if tab == 'to_verify' else '' }}"
              >To Verify</a
            >
            <a
              id="tab_verified"
              class="button outline tablinks {{ 'active' if tab == 'verified' else '' }}"
              >Verified</a
            >
            <a
              id="tab_to_train"
              class="button outline tablinks {{ 'active' if tab == 'to_train' else '' }}"
              >To Train</a
            >
            <a
              id="tab_stats"
              class="button outline tablinks {{ 'active' if tab == 'stats' else '' }}"
              >Stats</a
            >
            <a
              id="tab_help"
              class="button outline tablinks {{ 'active' if tab == 'help' else '' }}"
              >Guidelines</a
            >
            {% if tab not in ('help', 'stats') %}
            <a class="button outline tablinks" id="backward">⬅️</a>
            <a class="button outline tablinks" id="forward">➡️</a>
            {% endif %}
          </div>
        </div>
      </nav>
      <br />

      {% if message %}
      <div class="row">
        <div class="col-12">
          <h4>{{ message }}</h4>
        </div>
      </div>
      {% endif %}

      {% if tab not in ('help', 'stats') %}
      <div id="images" class="tabcontent">
        {% for i in range(start, end) %}
        <div class="row">
          {% for x in range(3) %} {% set j = (i - start) * 3 + start + x %}
          <div id="image{{ j }}" class="col-4" style="display: none">
            <div class="image-block">
              <h4>Feedback</h4>


              <form
                action="/train"
                method="POST"
                enctype="application/x-www-form-urlencoded"
              >
              <input
                id="image_id{{ j }}"
                type="hidden"
                name="image_id"
                value=""
              />
              {% if tab != 'to_train' %}
                <p>
                  <label for="caption">Improved alt text</label>
                  <input type="text" name="caption" id="caption{{ j }}" />
                  <fieldset>
                  <legend>Reasons for rejection</legend>
                    <label>
                      <input type="checkbox" name="rejection_reason" value="inaccurate">
                      Inaccurate
                    </label><br>
                    <label>
                      <input type="checkbox" name="rejection_reason" value="assumptive">
                      Assumptive
                    </label><br>
                    <label>
                      <input type="checkbox" name="rejection_reason" value="difficult_to_read">
                      Difficult to read
                    </label><br>
                    <label>
                      <input type="checkbox" name="rejection_reason" value="not_concise">
                      Not concise
                    </label><br>
                    <label>
                      <input type="checkbox" name="rejection_reason" value="lacks_details">
                      Lacks details
                    </label><br>
                    <label>
                      <input type="checkbox" name="rejection_reason" value="wrong_tone">
                      Wrong tone
                    </label><br>

                  </fieldset>
                </p>

                {% endif %}
                <footer class="is-right">
                  {% if tab != 'to_train' %}

                  <button
                    name="train"
                    type="submit"
                    id="fail_{{ j }}"
                    class="button error"
                  >
                   {% if tab == 'verified' %}
                   I changed my mind!
                   {% endif %}
                    Reject & Retrain
                  </button>
                 {% endif %}
                  {% if tab != 'verified' %}
                  <button
                    name="discard"
                    type="submit"
                    id="success_{{ j }}"
                    class="button success"
                  >
                   {% if tab == 'to_train' %}
                   I changed my mind!
                   {% endif %}
                    Accept
                  </button>
                  {% endif %}
                </footer>
              </form>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      {% endif %}

      {% if tab == 'help' %}
      <div id="help" class="tabcontent">
        <div class="card" style="margin-top: 15px; margin-bottom: 15px">
          <header>
            <h2>Guidelines to curate the dataset</h2>
          </header>

    <p>Make sure you are on the <a href="/?tab=to_verify&batch=1">To Verify</a> tab of the site.</p>
    <p>For each image, you will be evaluating the "Firefox" alt text as compared to alt text provided by a human (“Human”) and text provided by another model (“Baseline”).
    If the “Firefox” alt text fits our defined criteria for "Acceptable" (see below), click "Accept" without filling out any other fields.
    Click on the wand to generate the text.
    If it fits the criteria below for “Unacceptable,” write an improved alt text description, select all applicable reasons for rejection, and then click Reject & Retrain.</p>

    <h3>Acceptable vs. Unacceptable Alt Text</h3>
    <p>We will be evaluating this model from the perspective of a content creator,</p>
    <ul>
     <li><strong>Acceptable</strong> I would use this description with no or minimal editing (adding or changing just a few words).</li>

      <li><strong>Unacceptable</strong> I would rewrite this description significantly or entirely.</li>
    </ul>

    <h3>Reasons for Rejection</h3>
    <p>If the description is unacceptable, please select each applicable reason, as defined below:</p>
    <ul>
        <li><strong>Inaccurate:</strong>
            <ul>
                <li>The content misidentifies people or objects from the image or contains false information.</li>
                <li>The model inaccurately counts the number of people or objects. Instead of specific numbers, it should use general terms like “some” or “group”.</li>
            </ul>
        </li>
        <li><strong>Assumptive:</strong> The model shouldn’t assume identity or culture. This means it should never mention the following, even at the expense of potential relevancy, because only the content creator can properly assess identity characteristics:
            <ul>
                <li>Gender: Should use “person” or “kid”/“child” instead</li>
                <li>Race or nationality</li>
                <li>Health or disability status</li>
                <li>Historical, religious, or cultural context</li>
            </ul>
        </li>
        <li><strong>Difficult to read:</strong>
            <ul>
                <li>Contains grammatical errors</li>
                <li>Meaning is unclear</li>
                <li>Uses overly complex words and sentence constructions</li>
            </ul>
        </li>
        <li><strong>Not concise:</strong> The description is not a concise description of the image’s purpose
            <ul>
                <li>It is too long, wordy, or repetitive</li>
                <li>It includes superfluous words like “image,” “icon”, or “picture”</li>
            </ul>
        </li>
        <li><strong>Lacks details:</strong> Does not include the relevant, appropriate details that help readers gain a basic understanding of what the image depicts.</li>
        <li><strong>Wrong tone:</strong> The tone of the writing is not neutral and conversational
            <ul>
                <li>Inflects strong emotions</li>
                <li>Sentence structures sound unnatural or overly formal when read aloud</li>
            </ul>
        </li>
    </ul>
          </div>
        </div>
      {% endif %}

      {% if tab == 'stats' %}
      <div id="stats" class="tabcontent">
        <div class="card" style="margin-top: 15px; margin-bottom: 15px">
          <header>
            <h3>Training Stats</h3>
          </header>
          <div class="progress-bar">
            <div
              class="segment accurate"
              data-tooltip="Acceptable"
              style="width: 30%"
            >
              30%
            </div>
            <div
              class="segment biased"
              data-tooltip="Inacceptable"
              style="width: 20%"
            >
              20%
            </div>
            <div
              class="segment not-checked"
              data-tooltip="Not checked yet"
              style="width: 50%"
            >
              50%
            </div>
          </div>
          <h3>Add a new image</h3>
          <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="image">Image:</label>
            <input type="file" id="image" name="image" required /><br /><br />
            <img
              id="imagePreview"
              src="#"
              alt="Image preview..."
              style="max-width: 400px; max-height: 300px; display: none"
            /><br /><br />
            <label for="alt_text">Alt Text:</label>
            <input
              type="text"
              id="alt_text"
              name="alt_text"
              placeholder="Enter alt text for the image"
              required
            /><br /><br />
            <label for="license">License:</label>
            <input
              type="text"
              id="license"
              name="license"
              value="APLv2"
              required
            /><br /><br />
            <label for="source">Source:</label>
            <input
              type="text"
              id="source"
              name="source"
              value="N/A"
              required
            /><br /><br />
            <button type="submit">Upload</button>
          </form>
          <footer class="is-right">
            <button
              class="button primary"
              id="generate-button"
              onclick="location.reload()"
            >
              <span id="button-text">Load new images</span>
            </button>
          </footer>
        </div>
      </div>
      {% endif %}
    </div>
  </body>
</html>
